<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="projects.json"></script>
        <script src="controller.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Rahul Bilimoria</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div ng-app="projects" ng-controller="projectsController">
            <div class="container">
              <h1 class="my-4">Projects
                <small>All Projects</small>
              </h1>
                <nav class="navbar navbar-light">
                    <ul class="navbar-nav">
                        <li><a href="#" ng-click="showList('all')">All</a></li>
                        <li><a href="#" ng-click="showList('game')">Games</a></li>
                        <li><a href="#" ng-click="showList('vr')">Virtual Reality</a></li>
                        <li><a href="#" ng-click="showList('webdev')">Web Development</a></li>
                    </ul>
                </nav>
              <!-- Project One -->
                <main>
                <span id="List" ng-repeat="x in projects" ng-if="show === 'all' || x.tags.includes(show)">
<div class="row">
 <div class="col-md-7">
  <a href="#">
   <img class="img-fluid rounded mb-3 mb-md-0" ng-src="{{x.img}}" alt="">
  </a>
 </div>
 <div class="col-md-5">
  <h3>{{x.name}}</h3>
  <p>{{x.description}}</p>
   <p>Tools used: {{x.lang}}</p>
  <a class="btn btn-primary" ng-href="{{x.link}}">View Project</a>
 </div>
</div>
                    <hr>
                </span>
                </main>
              <!-- Pagination -->
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </body>
</html>
