.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.text-bubble {
  color: #ffffff;
  background: #659dbd;
}

.text-bubble-inverted {
  color: #5a5a5a;
  background: #ffffff;
}

.text-hover {
  position: absolute;
  text-align: center;
  font-size: xx-large;
  /* background-color: rgb(0, 0, 0, 0.85); */
  border-radius: 5px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  opacity: 0;
  color: black;
}

.image {
  position: relative;
  text-align: center;
  color: white;
  transition: 0.5s;
  opacity: 1;
  width: 525px;
  height: 250px;
}

.img-icon {
  width: 75px;
  height: 75px;
}

.project-holder {
  margin-top: 3px;
  margin-bottom: 3px;
}

.project-holder:hover .image {
  opacity: 0.3;
}

.project-holder:hover .text-hover {
  opacity: 1;
}

.project-holder a {
  color: black;
}

.iconPanel {
  background-color: white;
}

.infoPanel {
  background-color: #4286f4;
}

.masthead2 {
  min-height: 100vh;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead2 h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: white;
}
