<div class="container">
  <h1 class="my-4">
    Projects
    <small id="subtitle">> All Projects</small>
  </h1>
  <!-- Project loop -->
  <main>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link active"
          data-toggle="tab"
          href=""
          ng-click="showList('all')"
          >All</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href=""
          ng-click="showList('game')"
          >Games</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="" ng-click="showList('vr')"
          >Virtual Reality</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href=""
          ng-click="showList('webdev')"
          >Web Development</a
        >
      </li>
    </ul>
    <p></p>
    <span
      class="ng-cloak"
      id="List"
      ng-repeat="x in projects"
      ng-if="show === 'all' || x.tags.includes(show)"
    >
      <div class="row">
        <div class="col-md-7">
          <a href="">
            <img
              class="img-fluid rounded mb-3 mb-md-0"
              ng-src="{{ x.img }}"
              alt=""
            />
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{ x.name }}</h3>
          <p>{{ x.description }}</p>
          <a
            class="btn btn-primary"
            ng-href="{{ x.link }}"
            ng-click="loadProject(x.id)"
            >View Project</a
          >
        </div>
      </div>
      <hr />
    </span>
  </main>
</div>
