<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="projects.json"></script>
    <script src="controller.js"></script>
    <link href="/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="projects.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Rahul Bilimoria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="./index.html">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="./projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/rahul-bilimoria/">LinkedIn</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.github.com/RahulBilimoria">Github</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div ng-app="projects" ng-controller="projectsController">
      <!--projects list-->
      <div class="container" ng-if="!showProject">
        <h1 class="my-4">Projects
          <small>> All Projects</small>
        </h1>
      <!-- Project loop -->
        <main>
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#all" ng-click="showList('all')">All</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#games" ng-click="showList('game')">Games</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#virtualreality" ng-click="showList('vr')">Virtual Reality</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#webdevelopment" ng-click="showList('webdev')">Web Development</a></li>
          </ul>
          <p> </p>
          <span class="ng-cloak" id="List" ng-repeat="x in projects" ng-if="show === 'all' || x.tags.includes(show)">
            <div class="row">
              <div class="col-md-7">
                <a href="#">
                  <img class="img-fluid rounded mb-3 mb-md-0" ng-src="{{x.img}}" alt="">
                </a>
              </div>
              <div class="col-md-5">
                <h3>{{x.name}}</h3>
                <p>{{x.description}}</p>
                <p>Tools used: {{x.lang}}</p>
                <a class="btn btn-primary" ng-href="{{x.link}}" ng-click="setProject(true, x.id)">View Project</a>
              </div>
            </div>
            <hr>
          </span>
        </main>
      </div>
      <!--project information-->
      <div class="container-fluid mt-0 ng-cloak" style="margin-top:25px" ng-if="showProject">
        <div class="row">
          <img class="img-fluid mb-3 mb-md-0" ng-src={{projectInfo.project.coverimg}} style="width:100%" alt="Living Room">
        </div>
        <div class="row text-bubble d-flex justify-content-center">
          <div class="col-md-8 text-justify px-5 py-5">
            <h3 class="text-center">Can you escape?</h3>
            <hr>
            <p ng-bind="projectInfo.project.description">data here</p>
            <hr>
          </div>
        </div>
        <div class="row text-bubble-inverted d-flex justify-content-center pb-5 mb-0 text-center">
            <div class="col-md-10 px-5 pt-5 pb-0 mb-0">
              <h3 class="text-center">Development Tools</h3><hr>
              <div class="row text-bubble-inverted justify-content-center">
                <span class="col-md-2 col-sm-6 mx-3" ng-repeat="x in projectInfo.project.tools">
                  <div class="col-md-12 text-center">
                    <img class="img-thumbnail" ng-src="{{getIcon(x)}}" alt="icon">
                    <h5>{{x}}</h5>
                  </div>
                </span>
              </div>
            </div>
        </div>
        
        <div class="row text-bubble justify-content-center">
          <div id="demo" class="carousel slide col-md-8" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <span ng-repeat="x in projectInfo.project.slideshow">
                <li data-target="#demo" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
              </span>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item" ng-repeat="x in projectInfo.project.slideshow" ng-class="{active: $first}">
                <img ng-src="./img/{{x}}" alt="image">
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>
          <div class="col-md-4 text-center text-bubble justify-content-center align-items-center">
            <div ng-if="projectInfo.project.website == null">
              <div class="row justify-content-center">
                <h3>Features</h3>
              </div>
              <hr>
              <ul>
                <span ng-repeat="x in projectInfo.project.features">
                  <li><p>{{x}}</p></li>
                </span>
              </ul>
            </div>
            <div ng-if="projectInfo.project.website != null">
              <div class="row justify-content-center">
              <h3>Live Demo</h3>
                </div>
              <hr>
              <a class="btn btn-primary" ng-href="{{projectInfo.project.website}}">View Live Demo</a>
            </div>
            <hr>
            <div class="row justify-content-center">
              <h3>Github Files</h3>
              </div>
            <span ng-repeat="x in projectInfo.project.github">
              <a class="btn btn-primary" ng-href="{{x}}">Link {{$index + 1}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <hr>
    </footer>
  </body>
</html>
