<div>
  <!-- Header -->
  <header class="masthead2 d-flex" ng-Style="{'background-image': 'url(' + projectInfo.project.coverimg + ')'}">
    <div class="container text-center my-auto">
      <h1 class="mb-1" ng-style="{'color': projectInfo.project.color}" ng-bind="projectInfo.name"></h1>
      <h3 class="mb-5" ng-style="{'color': projectInfo.project.color}" style="font-weight: 500">
        <em ng-bind="projectInfo.project.subtitle"></em>
      </h3>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 ng-bind="projectInfo.project.title"></h2>
          <p class="lead mb-5" ng-bind="projectInfo.project.description"></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Project</h3>
        <h2 class="mb-5">Development Tools</h2>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0" ng-repeat="x in projectInfo.project.tools">
          <img class="img-icon" ng-src="{{ getIcon(x) }}" atl="icon" />
          <h4>
            <strong>{{ x }}</strong>
          </h4>
          <p class="text-faded mb-0">{{ getIconDescription(x) }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Screenshots -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Project</h3>
        <h2 class="mb-5">Screenshots</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6" ng-repeat="x in slideshow">
          <a class="portfolio-item">
            <img class="img-fluid" style="transition: 0.35s;" src="./img/{{ x }}" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Project</h3>
        <h2 class="mb-4">Source and Extras</h2>
      </div>
      <span ng-repeat="x in projectInfo.project.github">
        <a class="btn btn-xl btn-light mr-4" ng-href="{{ x }}">Github Link {{ $index + 1 }}</a>
      </span>
      <span ng-if="projectInfo.project.video != null">
        <a class="btn btn-xl btn-light mr-4" ng-href="{{ projectInfo.project.video }}">Video</a>
      </span>
      <span ng-if="projectInfo.project.website != null">
        <a class="btn btn-xl btn-light mr-4" ng-href="{{ projectInfo.project.website }}">Website</a>
      </span>
      <!--<a href="#" class="btn btn-xl btn-dark">Look at Me!</a>-->
    </div>
  </section>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>
</div>
